---
import Layout from "../../../layouts/Layout.astro";
import { Content as Content } from "./index.md";

export const prerender = true;

const title = "Meeting Booker";
const description = "My first project, a meeting booker made using JavaFX";
const keywords = "Java, JavaFX, Meeting booker, Meeting booking";
---

<Layout title={title} description={description} keywords={keywords}>
    <div class="prose dark:prose-invert mx-auto my-10">
        <Content />
    </div>
</Layout>
