/* *{
    box-sizing: border-box;
    transition: 300ms;
} */

body {
  scroll-behavior: smooth;
  scrollbar-color: #445285;
  background: #cdd8eb;
  color: #31395b;
  transition: 300ms;
}

.MathJax {
  font-size: 1.3rem;
}

code {
  border-radius: 0.3rem;
  padding: 0.2rem;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  background: #252a40;
}

code::before {
  content: "" !important;
}
code::after {
  content: "" !important;
}

.dark html {
  background: #0f111a;
  color: #dfebff;
}

.dark body {
  background: #0f111a;
  color: #dfebff;
}


/* Styling toc */
.toc {
  width: 300px;
  display: flex;
  word-wrap: break-word;
  position: fixed;
  align-items: center;
  /* was 600 px */
  margin-left: 40rem;
  top: 150px;
  height: 80vh;
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}

.toc ol {
  /* list-style-type: disc; */
  list-style-type: lower-greek;
}

.toc:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 1200px) {
  .toc {
    visibility: hidden;
  }
}

.toc-link {
  color: #445285;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
.dark .toc-link {
  color: #b1cbff;
}
.toc-link:hover {
  color: #0f111a;
  text-decoration: none;
}
.dark .toc-link:hover {
  color: #d3faf9;
}

[astro-icon] {
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  color: #252a40;
}
.dark [astro-icon] {
  color: #b1cbff;
}

[astro-icon]:hover {
  color: #ff3d7a;
}

/* [astro-icon="annotation"] {
} */

/* .dark html{
    background: #0f111a;
    color: #dfebff;
} */
