---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---
<Layout>
    <div class="mx-auto w-10/12 md:w-3/4 text-center">
        <div>
<!-- TODO: Add 404 splash image or text -->
        </div>
        <div>
            <h1 class="text-3xl font-bold text-foreground-500">You seem to be lost.</h1>
            <p>Sorry, the page you are looking for was not found</p>
        </div>
    </div>
</Layout>