---
import Layout from "../layouts/Layout.astro";
// TODO
---
<Layout>
    <div>
        <div>
            <h1 class="text-3xl font-bold text-foreground-500">You seem to be lost.</h1>
            <p>Sorry, the page you are looking for was not found</p>
        </div>
        <div></div>
    </div>
</Layout>