---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
---

<Layout title="Home" keywords="testing">
  <div class="text-center">
    <h1 class="text-3xl font-bold mt-10">Atri Hegde</h1>
    <p class="text-background-700 dark:text-background-300 mt-5">"The bridge between reality and dreams is work"</p>
    <!-- Image here -->
    <img class="rounded-full mx-auto my-5" width="200" height="200" alt="A picture of Atri" src="/images/avatar.jpg" />
    <p class="text-background-900 dark:text-foreground-100 mt-5">I am an undergraduate student at the University of Sheffield, studying Software Engineering (Comp Sci).</p>
    <div class="mt-10">
      <Socials class="flex space-x-5 justify-center" />
    </div>
  </div>
</Layout>
