---
import { Icon } from "astro-icon";
---

<footer
  class="absolute bottom-0 items-center left-0 right-0 ml-auto mr-auto h-16 bg-background-500 dark:bg-background-light p-3 rounded-t-lg mx-auto sm:w-8/12 md:w-1/2"
>
  <p class="mx-auto items-center flex justify-center">
    Made with 
    <Icon class="px-1" name="mdi:cards-heart" height="25" width="25"/>
    and Astro 
    <Icon class="pl-1" name="simple-icons:astro" height="25" width="25"/>
  </p>
  <p class="justify-center items-center flex text-sm text-background-300">
    <Icon class="pr-1" name="ph:copyright-bold" height="20" width="20"/>
    2023 Atri Hegde
  </p>
</footer>

<style></style>
