---
import { Icon } from "astro-icon";

const Links = [
  { icon: "tabler:brand-linkedin", link: "https://linkedin.com/in/hegde-atri" },
  { icon: "tabler:brand-github", link: "https://github.com/hegde-atri" },
  { icon: "tabler:brand-gitlab", link: "https://gitlab.comhegde-atri" },
  { icon: "ph:youtube-logo-light", link: "https://www.youtube.com/channel/UCHZwj1GpsDQ3B9S5VjeY36A" },
  { icon: "mdi:stackoverflow", link: "https://stackoverflow.com/users/15020804/atri-hegde" },
  { icon: "tabler:mail", link: "mailto:iamatrihegde@outlook.com" },
  { icon: "mdi:rss", link: "https://hegdeatri.com/rss.xml" },
];

const styles = Astro.props;
---

<div class={styles.class}>
  {
    Links.map((item, _) => {
      return (
        <a href={item.link}>
          <Icon name={item.icon} height="35"/>
        </a>
      );
    })
  }
</div>
