---
import Pagination from "../../components/Pagination.astro";
import SnippetList from "../../components/Snippets/SnippetList.astro";
import Layout from "../../layouts/Layout.astro";

export const prerender = true;

export async function getStaticPaths({ paginate }) {
    const PAGE_SIZE = 8;

    let allSnippets = await Astro.glob("../../content/snippets/**/*.md*");
    const snippets = allSnippets.filter(
        (snippet) => !snippet.frontmatter.draft
    );
    let allSortedSnippets = snippets.sort(
        (a, b) =>
            new Date(b.frontmatter.date).valueOf() -
            new Date(a.frontmatter.date).valueOf()
    );

    return paginate(snippets, {
        pageSize: PAGE_SIZE,
    });
}

const { page } = Astro.props;
---

<Layout title="Snippets">
    <h1 class="w-11/12 md:w-3/4 mx-auto mb-10 text-3xl font-bold text-blue-50">
        All snippets
    </h1>
    <SnippetList posts={page.data} />
    <Pagination page={page} />
</Layout>
<style>
    h1:after {
        content: "";
        display: block;
        align-content: center;
        background: #ff3d7a;
        width: 165px;
        height: 4px;
        border-radius: 3px;
        box-shadow: 0px 0px 5px #e984a4;
    }
</style>
