<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta + title -->
    <meta charset="utf-8">
    <title>Atri Hegde</title>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="hegdeatri.com" />
    {%if section.title%}
    <title>{{ section.title }}</title>
    <meta name="og:title" content="{{ section.title }}" />
    {%endif%}
    {%if page.title%}
    <title>{{ page.title }}</title>
    <meta name="og:title" content="{{ page.title }}" />
    {%endif%}
    {%if section.description%}
    <meta name="description" content="{{ section.description }}" />
    <meta name="og:description" content="{{ section.description }}" />
    {%endif%}
    {%if page.description%}
    <meta name="description" content="{{ page.description }}" />
    <meta name="og:description" content="{{ page.description }}" />
    {%endif%}
    <!-- stylesheets -->
    <link rel="stylesheet" href="main.css">

  </head>
  <body>
    <!-- navbar  -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>



    <!-- block content -->
    <section class="section">
      <div class="container">
        {% block content %} {% endblock %}
      </div>
   </section>
  </body>
</html>
