---
import Layout from "../../../layouts/Layout.astro";
import { Content as Content } from "./index.md";

export const prerender = true;

const title = "dashpage";
const description = "A dashboard for the minimalists.";
const keywords = "SvelteKit, TailwindCSS, Supabase, OAuth";
---

<Layout title={title} description={description} keywords={keywords}>
  <div class="prose prose-invert mx-auto my-10">
    <Content />
  </div>
</Layout>
