---
import Layout from "../../../layouts/Layout.astro";

export const prerender = true;

const title = "Rust Projects"
const description = "The collection of mini projects I've done in rust-lang."
const keywords = ""
---
<Layout title={title} description={description} keywords={keywords}>
    <div class="prose dark:prose-invert">
    </div>
</Layout>
