---
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer.astro';
import HeadSEO from '../components/Header/HeadSEO.astro';
import Head from '../components/Header/Head.astro';
const { content = {} } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
console.log(content.title)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head />
    <HeadSEO {content} canonicalURL={canonicalURL}/>
		<title>{content.title}</title>
  </head>
  <body>
    <Header></Header>
    <main>
      <slot />
    </main>
    <Footer></Footer>
  </body>
</html>