html,
body {
  color: #071731;
  background: #EFF1F5;
}

[data-theme='dark'],
[data-theme='dark'] body {
  color: #F2F5F7;
  background: #0E141B;
}

[data-theme='dark'].card {
  color: #F2F5F7;
  background: #1E262F;
}
