:root{
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-light: 400;
  --font-family: "Wotfard",Futura,-apple-system,sans-serif;
  --font-family-mono: "League Mono","Fira Mono",monospace;
  --font-family-spicy: "Sriracha","Wotfard",Futura,-apple-system,sans-serif;
  --reach-dialog: 1;
  --extra-muted-light: #4F5155;
  --extra-muted-dark: #B6B8BA;
  --logo-light: #7237FD;
  --logo-dark: #7267FD;
  --bg-light: #EFF1F5;
  --color-light: #071731;
  --bg-dark: #060A13;
  --color-dark: #F2F5F7;
  --dark1: #1E262F;
  --colour-peach: #DD7878;
  --colour-blue: #04A5E5;
  --colour-torquise: #38B7C7;
  --colour-amethyst: #C678DD;
  --colour-pink: #EA76CB;
}

html,
body {
  color: var(--color-white);
  background: var(--bg-white);
  font-family: var(--font-family);
}

[data-theme='dark'],
[data-theme='dark'] body {
  color: var(--color-dark);
  background: var(--bg-dark);
}

[data-theme='dark'].card {
  color: #F2F5F7;
  background: #1E262F;
}
