.header {
  display: inline;
}

.headerDiv {
  display: flex;
  padding-bottom: 3rem;
}

.themeButton {
  color: var(--extra-muted-light);
  cursor: pointer;

}
[data-theme='dark'].themeButton {
  color: var(--extra-muted-dark);
}

.themeNav {
  margin-top: auto;
}



.name {
  font-size: x-large;
  font-weight: 600;
  color: var(--logo-light);
}
[data-theme='dark'] .name {
  color: var(--logo-dark);
}

.nav {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.navLink {
  text-decoration: none;
  margin-right: 2rem;
  font-weight: 500;
  color: var(--color-white);
}

[data-theme='dark'] .navLink {
  color: var(--color-dark)
}