---
import Layout from "../../../layouts/Layout.astro";

export const prerender = true;

const description =
  "A blazingly fast web frontend for git repositories written in Rust";
const keywords = "";
---

<Layout title="rgit" description={description} keywords={keywords}>
  <h1>rgit project page</h1>
</Layout>
