---
import Layout from "../../../layouts/Layout.astro";

export const prerender = true;

const title = "rgit";
const description =
    "Blazingly fast web frontend for git repositories written in Rust.";
const keywords = "";
---

<Layout title={title} description={description} keywords={keywords}>
    <div class="prose prose-invert">
        <h1>Woah !</h1>
        <p>You have found one of my on-going projects!</p>
        <br />
        <p>
            This page is not ready yet, and will be listed under the projects
            page once it is!
        </p>
    </div>
</Layout>
