---
import Layout from "../../../layouts/Layout.astro";
import { Content as Content } from "./index.md";

export const prerender = true;

const title = "File Organiser";
const description = "An application written in C# by Atri Hegde";
const keywords = "AvaloniaUI, C#, File organiser, File organizer";
---

<Layout title={title} description={description} keywords={keywords}>
    <div class="prose prose-invert mx-auto my-10">
        <Content />
    </div>
</Layout>
